# APP_URL: The URL where this application is hosted.
# Used for self-referential links, OAuth callbacks, and secure API endpoints.
APP_URL="http://localhost:3000"

# Cloud SQL PostgreSQL Configuration
SQL_HOST=
SQL_DB_NAME=
SQL_USER=
SQL_PASSWORD=
SQL_ADMIN_USER=
SQL_ADMIN_PASSWORD=

# Security secrets for production deployment
JWT_SECRET=
PASSWORD_SALT=

# SMTP Mailer Settings for Password Resets
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
